# Block all files by default.
/*
/.config/*

# Enter each desired pattern to include.
!/.gitignore
!/.config/
!/.config/starship.toml
!/.config/alacritty/
!/.config/astronvim/
!/.config/bat/
!/.config/helix/
!/.config/nix/
!/.config/nushell/
!/.config/zellij/

# Block nushell history.
/.config/nushell/history.*
# Block gh hosts.
/.config/gh/hosts.*
# Block runtime files for helix.
/.config/helix/runtime/
# Block catppuccin git clone.
/.config/alacritty/catppuccin/
# Block zellij plugins.
/.config/zellij/plugins/
