# Block all files by default.
/*

# Enter each desired pattern to include.
!/.gitignore
!/starship.toml
!/alacritty/
!/astronvim/
!/bat/
!/helix/
!/nix/
!/nushell/
!/zellij/

# Block nushell history.
/nushell/history.*
# Block gh hosts.
/gh/hosts.*
# Block runtime files for helix.
/helix/runtime/
# Block catppuccin git clone.
/alacritty/catppuccin
# Block zellij plugins.
/zellij/plugins/
