layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    // tab for term editor (nvim)
    tab focus=true name="nvim" {
        pane borderless=true focus=true {
            command "nvim"
            args "./"
        }
    }

    // default tab for shell
    tab name="shell"
}
